<div *ngIf="!loaded">
    <input
        type="file"
        placeholder="Sélectionner"
        (change)="onFileChange($event)"
    />
</div>
<div *ngIf="loaded">
    <button (click)="save()">Sauvegarder</button>
</div>
<ul>
    <li *ngFor="let category of db.categories; let i = index">
        Catégorie {{ i + 1 }}:
        <input type="text" [(ngModel)]="category.label" /><br />
        <hr />
        <ul>
            <li
                class="question"
                *ngFor="let question of category.questions; let j = index"
            >
                Question {{ j + 1 }}:
                <input type="text" [(ngModel)]="question.label" /><br />
                <ul>
                    <li
                        class="choice"
                        *ngFor="let choice of question.choices; let k = index"
                    >
                        Choix {{ k + 1 }}:
                        <input type="text" [(ngModel)]="choice.label" /><br />
                        Bonne réponse
                        <input
                            type="checkbox"
                            [(ngModel)]="choice.isCorrectChoice"
                        />
                        <button (click)="deleteChoice(question, choice)">
                            X Supprimer choix</button
                        ><br />
                    </li>
                </ul>
                <button (click)="createChoice(question)">Ajouter choix</button>
                <button (click)="deleteQuestion(category, question)">
                    X Supprimer question
                </button>
            </li>
            <button (click)="createQuestion(category)">Ajouter question</button>
        </ul>
    </li>
</ul>
